<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--WIF 4.5 sections -->
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
  </configSections>
  <system.identityModel>
  <identityConfiguration>
    <audienceUris>
      <add value="http://batatinhas/" />
	</audienceUris>
    <certificateValidation certificateValidationMode="None"/>
    <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <trustedIssuers>
        <add thumbprint="48A4C88B41AEB5B34734A6D814A407CE80778899" name="http://login.dev.oneit.pt/issue" />
      </trustedIssuers>
    </issuerNameRegistry>
  </identityConfiguration>
</system.identityModel>
<system.identityModel.services>
  <federationConfiguration>
    <cookieHandler requireSsl="true" />
    <!-- Change wsFederation to authenticate using Local or DEV -->
    <wsFederation passiveRedirectEnabled="true" issuer="https://login.dev.oneit.pt/issue/hrd" realm="http://batatinhas/" requireHttps="true" homeRealm="" persistentCookiesOnPassiveRedirects="false" />
  </federationConfiguration>
</system.identityModel.services>
</configuration>